body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
  min-height: 100vh;

  font-family: raleway, sans-serif;
  line-height: 1.5;
}

footer {
  font-size: smaller;
  text-align: center;
}

.container {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  box-shadow: 0 30px 50px #41326414;
  margin: 80px auto;
  padding: 25px;
}
